@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
#openSurveyBtn {
  background-color: #003B71;
  padding: 22px 60px;
  border: 0;
  color: #FFFFFF;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  letter-spacing: .03em;
  font-weight: bold;
  border-radius: 5px;
  -webkit-transition: background-color cubic-bezier(0.5, 0, 0.5, 1) 0.2s;
  transition: background-color cubic-bezier(0.5, 0, 0.5, 1) 0.2s;
  font-size: 18px;
  cursor: pointer;
}

#openSurveyBtn:hover {
  background-color: #0056a4;
}

.logo-rocky {
  position: absolute;
  width: 80px;
  height: auto;
  top: -60px;
  left: -35px;
  -webkit-transform: rotateZ(-8deg);
          transform: rotateZ(-8deg);
}

.survey-container {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-image: url("../images/survey-bg@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #003B71;
  border-radius: 5px;
  text-align: center;
  color: #FFFFFF;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.75);
  -webkit-transition: -webkit-transform cubic-bezier(0.5, 0, 0.5, 1) 0.5s, -webkit-filter cubic-bezier(0.5, 0, 0.5, 1) 0.5s;
  transition: -webkit-transform cubic-bezier(0.5, 0, 0.5, 1) 0.5s, -webkit-filter cubic-bezier(0.5, 0, 0.5, 1) 0.5s;
  transition: transform cubic-bezier(0.5, 0, 0.5, 1) 0.5s, filter cubic-bezier(0.5, 0, 0.5, 1) 0.5s;
  transition: transform cubic-bezier(0.5, 0, 0.5, 1) 0.5s, filter cubic-bezier(0.5, 0, 0.5, 1) 0.5s, -webkit-transform cubic-bezier(0.5, 0, 0.5, 1) 0.5s, -webkit-filter cubic-bezier(0.5, 0, 0.5, 1) 0.5s;
}

.survey-container *, .survey-container *:before, .survey-container *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.survey-container.open {
  -webkit-transform: translateX(0) scale(1) rotateY(0deg);
          transform: translateX(0) scale(1) rotateY(0deg);
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.survey-container.close {
  -webkit-transform: translateX(140%) scale(0) rotateY(180deg);
          transform: translateX(140%) scale(0) rotateY(180deg);
  -webkit-filter: blur(50px);
          filter: blur(50px);
}

.survey-container .ur-logo-container {
  background-color: rgba(0, 32, 62, 0.4);
}

.survey-container .ur-logo-container .discover-ur-logo {
  width: 35%;
  padding: 20px 0;
}

.survey-container .survey {
  position: relative;
  padding: 30px 30px 30px;
}

.survey-container .headline {
  font-size: 21px;
  font-weight: bold;
}

.survey-container .subhead {
  font-size: 16px;
  margin-bottom: 20px;
  display: block;
}

.survey-container .survey-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFD100;
  border-radius: 5px;
  color: #003B71;
  text-decoration: none;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  -webkit-transition: background-color cubic-bezier(0.5, 0, 0.5, 1) 0.2s, -webkit-transform cubic-bezier(0.5, 0, 0.5, 1) 0.2s, -webkit-box-shadow cubic-bezier(0.5, 0, 0.5, 1) 0.2s;
  transition: background-color cubic-bezier(0.5, 0, 0.5, 1) 0.2s, -webkit-transform cubic-bezier(0.5, 0, 0.5, 1) 0.2s, -webkit-box-shadow cubic-bezier(0.5, 0, 0.5, 1) 0.2s;
  transition: transform cubic-bezier(0.5, 0, 0.5, 1) 0.2s, background-color cubic-bezier(0.5, 0, 0.5, 1) 0.2s, box-shadow cubic-bezier(0.5, 0, 0.5, 1) 0.2s;
  transition: transform cubic-bezier(0.5, 0, 0.5, 1) 0.2s, background-color cubic-bezier(0.5, 0, 0.5, 1) 0.2s, box-shadow cubic-bezier(0.5, 0, 0.5, 1) 0.2s, -webkit-transform cubic-bezier(0.5, 0, 0.5, 1) 0.2s, -webkit-box-shadow cubic-bezier(0.5, 0, 0.5, 1) 0.2s;
  margin-top: 10px;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
          box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.survey-container .survey-button:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  background-color: #ffd829;
}

.survey-container .survey-button:hover span:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.survey-container .survey-button:active {
  -webkit-transition: -webkit-transform cubic-bezier(0.5, 0, 0.5, 1) 0.03s;
  transition: -webkit-transform cubic-bezier(0.5, 0, 0.5, 1) 0.03s;
  transition: transform cubic-bezier(0.5, 0, 0.5, 1) 0.03s;
  transition: transform cubic-bezier(0.5, 0, 0.5, 1) 0.03s, -webkit-transform cubic-bezier(0.5, 0, 0.5, 1) 0.03s;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.survey-container .survey-button svg {
  margin-right: 8px;
}

.survey-container .survey-button span {
  text-transform: uppercase;
  letter-spacing: .03em;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  line-height: 1;
}

.survey-container .survey-button span:after {
  content: "";
  height: 2px;
  width: calc(100% + 23px);
  position: absolute;
  bottom: -5px;
  left: -23px;
  background-color: #003B71;
  z-index: 10;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform cubic-bezier(0.5, 0, 0.5, 1) 0.2s;
  transition: -webkit-transform cubic-bezier(0.5, 0, 0.5, 1) 0.2s;
  transition: transform cubic-bezier(0.5, 0, 0.5, 1) 0.2s;
  transition: transform cubic-bezier(0.5, 0, 0.5, 1) 0.2s, -webkit-transform cubic-bezier(0.5, 0, 0.5, 1) 0.2s;
}

.survey-container .close-button {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #FFFFFF;
  background-color: #003B71;
  -webkit-transition: background-color cubic-bezier(0.5, 0, 0.5, 1) 0.2s, -webkit-transform cubic-bezier(0.5, 0, 0.5, 1) 0.2s;
  transition: background-color cubic-bezier(0.5, 0, 0.5, 1) 0.2s, -webkit-transform cubic-bezier(0.5, 0, 0.5, 1) 0.2s;
  transition: transform cubic-bezier(0.5, 0, 0.5, 1) 0.2s, background-color cubic-bezier(0.5, 0, 0.5, 1) 0.2s;
  transition: transform cubic-bezier(0.5, 0, 0.5, 1) 0.2s, background-color cubic-bezier(0.5, 0, 0.5, 1) 0.2s, -webkit-transform cubic-bezier(0.5, 0, 0.5, 1) 0.2s;
}

.survey-container .close-button:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  background-color: #0056a4;
}

.survey-container .close-button:active {
  -webkit-transition: -webkit-transform cubic-bezier(0.5, 0, 0.5, 1) 0.03s;
  transition: -webkit-transform cubic-bezier(0.5, 0, 0.5, 1) 0.03s;
  transition: transform cubic-bezier(0.5, 0, 0.5, 1) 0.03s;
  transition: transform cubic-bezier(0.5, 0, 0.5, 1) 0.03s, -webkit-transform cubic-bezier(0.5, 0, 0.5, 1) 0.03s;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.survey-container .opt-out {
  color: #FFFFFF;
  margin-top: 18px;
  display: block;
  opacity: 0.9;
}

.survey-container .opt-out:hover {
  text-decoration: none;
  opacity: 1;
}
